<!-- {{ userData | json }} -->
<header>
    <nav [ngClass]="themeClass('navbar')">
        <div class="uk-container uk-navbar-container" [ngClass]="themeClass('navbar-container')" uk-navbar>
            <div class="uk-navbar-left center-s">
                <img (click)="goHomePage()" class="navbar-brand" src="../assets/images/logo.png" alt="">
                <div class="search-bar-group">
                    <input placeholder="搜尋課程" [(ngModel)]="courseFilterArg.name" [ngClass]="themeClass('search-bar-input')" class="uk-input" type="text">
                    <span [ngClass]="themeClass('btn-search')" (click)="searchCourseAndGoto()"><i class="material-icons">search</i></span>
                </div>
                <span class="btn-menu uk-hidden@m uk-inline"><i class="material-icons">view_headline</i>
                    <div uk-dropdown="mode: click" *ngIf="!isLoggedin">
                        <ul class="uk-nav uk-dropdown-nav">
                            <li (click)="goTeachersPagePage()"><a>師資介紹</a></li>
                            <li (click)="goShoppingCartPage()"><a>購物車</a></li>
                            <li class="uk-margin-top"><button type="button" class="uk-button uk-width-1-1" [ngClass]="themeClass('btn-login')" (click)="openLoginWindow()">登入</button></li>
                            <li class="uk-margin-top"><button type="button" class="uk-button uk-width-1-1" [ngClass]="themeClass('btn-register')" (click)="openRegisterWindow()">註冊</button></li>
                        </ul>
                    </div>
                    <div uk-dropdown="mode: click" *ngIf="isLoggedin">
                        <ul class="uk-nav uk-dropdown-nav">
                            <li (click)="goTeachersPagePage()"><a>師資介紹</a></li>
                            <li (click)="goShoppingCartPage()"><a>購物車</a></li>
                            <li *ngIf="isAdmin" (click)="goMaintainPage()"><a>課程管理</a></li>
                            <li class="uk-margin-top "><button type="button " class="uk-button uk-width-1-1" (click)="logout()" [ngClass]="themeClass('btn-login')">登出</button></li>
                        </ul>
                    </div>
                </span>
            </div>
            <div class="uk-navbar-right uk-visible@m" *ngIf="!isLoggedin">
                <button type="button" (click)="goTeachersPagePage()" class="uk-button uk-button-text" [ngClass]="themeClass('btn-go-teacher-page')">師資介紹</button>
                <button type="button" (click)="goShoppingCartPage()" [ngClass]="themeClass('btn-go-shopping-cart')" class="uk-button uk-button-text">購物車<span class="shopping-cart-item-number" *ngIf="courseList.length != 0">{{ courseList.length }}</span></button>
                <!-- <span class="btn-go-shopping-cart"><i class="material-icons">shopping_cart</i></span> -->
                <button type="button" class="uk-button" [ngClass]="themeClass('btn-login')" (click)="openLoginWindow()">登入</button>
                <button type="button" class="uk-button" [ngClass]="themeClass('btn-register')" (click)="openRegisterWindow()">註冊</button>
            </div>
            <div class="uk-navbar-right uk-visible@m" *ngIf="isLoggedin">
                <!-- <button type="button" class="uk-button btn-login" (click)="testauth()">測試授權</button> -->
                <button type="button" class="uk-button uk-button-text btn-go-teacher-page" [ngClass]="themeClass('btn-go-teacher-page')">HI {{ userData.cName}}</button>
                <button type="button" (click)="goTeachersPagePage()" class="uk-button uk-button-text btn-go-teacher-page" [ngClass]="themeClass('btn-go-teacher-page')">師資介紹</button>
                <button type="button" (click)="goShoppingCartPage()" [ngClass]="themeClass('btn-go-shopping-cart')" class="uk-button uk-button-text">購物車<span class="shopping-cart-item-number" *ngIf="courseList.length != 0">{{ courseList.length }}</span></button>
                <button *ngIf="isAdmin" (click)="goMaintainPage()" type="button" class="uk-button uk-button-text " [ngClass]="themeClass('btn-course-maintain')">課程管理</button>
                <button type="button" class="uk-button " (click)="logout()" [ngClass]="themeClass('btn-login')">登出</button>
            </div>
        </div>
    </nav>
</header>

<access #accessComponent></access>

<router-outlet></router-outlet>


<footer>
    <customer-footer></customer-footer>
</footer>