<header>
    <nav class="navbar">
        <div class="uk-container uk-navbar-container navbar-container" uk-navbar>
            <div class="uk-navbar-left">
                <div class="search-bar-group">
                    <input placeholder="搜尋課程" class="uk-input search-bar-input" type="text">
                    <span class="btn-search"><i class="material-icons">search</i></span>
                </div>
            </div>
            <div class="uk-navbar-right">
                
                <button type="button" class="uk-button btn-login" (click)="openLoginWindow()">登入</button>
                <button type="button" class="uk-button btn-register">註冊</button>
            </div>
        </div>
    </nav>
</header>

<login #loginComponent></login>

<router-outlet></router-outlet>


<footer></footer>