<!-- <button class="uk-button uk-button-default" (click)="openLoginWindow()">Open</button> -->

<div class="uk-flex-top" uk-modal #loginWindow> 
    <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical login-modal">

        <button class="uk-modal-close-default" type="button" uk-close></button>

        <div class="login-heading">
            <div class="login-avatar"></div>
        </div>
        <div class="login-content">
            <form class="uk-form-stacked">
                    
                <div class="uk-margin">
                    <label class="uk-form-label" for="form-stacked-text">帳號</label>
                    <div class="uk-form-controls">
                        <input name="account" class="uk-input login-input" [(ngModel)]="loginData.account" type="text">
                    </div>
                </div>
                <div class="uk-margin">
                    <label class="uk-form-label" for="form-stacked-text">密碼</label>
                    <div class="uk-form-controls">
                        <input name="password" class="uk-input login-input" [(ngModel)]="loginData.password" type="password">
                    </div>
                </div>
                <div class="uk-margin-top">
                    <button type="button" class="uk-button uk-button-primary uk-width-1-1 uk-margin-small-bottom btn-modal-login" (click)="login()">登入</button>
                </div>
                <div>
                    <button type="button" class="uk-button uk-button-primary uk-width-1-1 uk-margin-small-bottom btn-fb-login"><span uk-icon="facebook"></span> 使用FACEBOOK登入</button>
                </div>
                <div class="uk-margin-bottom uk-text-center">
                    <a href="" class="right-now-register-text">立即註冊</a>
                </div>
            </form>
        </div>
    </div>
</div>