<div class="content">
    <!--first theme to be teacher-->
    <div class="uk-card uk-card-default uk-width-1-1@m">
        <div class="uk-background-image uk-background-over uk-background-muted uk-height-large uk-flex uk-flex-center uk-flex-middle"
            style="background-image: url(../../assets/images/photography.jpg);">
            <div class="uk-container uk-container-expan uk-width-1-1@s uk-width-2-3@m">
                <div class="uk-width-1-1@s uk-width-1-2@m">
                    <h1 class="uk-text-bold color-white">在家向全世界教學</h1>
                    <h2 class="uk-text-lead uk-margin-medium-bottom color-white">你的教學，我看的見</h2>
                    <button class="uk-button uk-width-1-1@s uk-width-1-2@m uk-width-1-3@l  uk-button-danger">成為講師</button>
                </div>
            </div>
        </div>
    </div>
    <!--first theme to be teacher-->

    <!-- explore your potntial-->
    <div class="explore">
        <div class="uk-container uk-container-expan uk-heigth-large uk-width-1-1@s uk-width-2-3@m uk-flex uk-flex-center uk-padding">
            <div class="uk-width-1-1 uk-text-center">
                <h1 class="hrStyle uk-text-bold">探索您的爆發力</h1>
                <div>
                    <div class="uk-text-center" uk-grid>
                        <div class="uk-width-1-1@s uk-width-1-3@m">
                            <div class="uk-card uk-card-default uk-card-body uk-card-hover">
                                <span>
                                    <img src="../../assets/images/piggy-bank.png" alt="">
                                </span>
                                <h3>賺外快管道</h3>
                                <p>只要有學生購買，你就有錢賺，當學生越多，你就能講話越大聲，價位都好談。</p>
                            </div>
                        </div>
                        <div class="uk-width-1-1@s uk-width-1-3@m">
                            <div class="uk-card uk-card-default uk-card-body uk-card-hover">
                                <span>
                                    <img src="../../assets/images/presentation.png" alt="">
                                </span>
                                <h3>教育人才</h3>
                                <p>俗話說：「孔子不能解決的問題，老子幫你解決。」，這就是需要教師人才的出現來幫助學生學習與探索。</p>
                            </div>
                        </div>
                        <div class="uk-width-1-1@s uk-width-1-3@m">
                            <div class="uk-card uk-card-default uk-card-body uk-card-hover">
                                <span>
                                    <img src="../../assets/images/like.png" alt="">
                                </span>
                                <h3>獲得支持</h3>
                                <p>想紅、想被關注的人，都可以在此平台發揮自己的專長，不僅可以做教學還可以讓大家更認識到您，只要夠紅連粉專都幫您創！！</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- explore your potntial-->

    <!-- Extraordinary chance -->
    <div class="chance">
        <div class="uk-card uk-card-default uk-width-1-1@m">
            <div class="uk-background-image uk-background-cover uk-background-muted uk-height-medium uk-flex uk-flex-center" style="background-image: url(../../assets/images/101.jpg);">
                <div class="uk-container uk-container-expan uk-heigth-large uk-width-1-1@s uk-width-2-3@m uk-flex uk-flex-center uk-padding">
                    <div class="uk-width-1-1 uk-text-center">
                        <h1 class="hrStyle color-white uk-text-bold">不凡的機會</h1>
                        <div class="uk-text-center" uk-grid>
                            <div class="uk-width-1-3">
                                <h1 class="color-white">2位</h1>
                                <p class="color-white">全世界學生人數</p>
                            </div>
                            <div class="uk-width-1-3">
                                <h1 class="color-white">3種</h1>
                                <p class="color-white">不同語言的數量</p>
                            </div>
                            <div class="uk-width-1-3">
                                <h1 class="color-white">3位</h1>
                                <p class="color-white">給予支援的講師</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Extraordinary chance -->

    <!-- Mode of operation -->
    <div class="operation">
        <div class="uk-container uk-container-expan uk-heigth-large uk-width-1-1@s uk-width-2-3@m uk-flex uk-flex-center uk-padding">
            <div class="uk-width-1-1 uk-text-center">
                <h1 class="hrStyle uk-text-bold">運作方式</h1>
                <div>
                    <ul class="uk-subnav uk-subnav-pill uk-text-center uk-grid-match" uk-switcher="animation: uk-animation-slide-left-medium, uk-animation-slide-right-medium"
                        uk-grid>
                        <li class="uk-width-1-3 uk-animation-toggle">
                            <div class="uk-animation-shake uk-animation-reverse">
                                <a href="#" style="text-decoration:none;">
                                    <img src="../../assets/images/select.png" alt="">
                                    <div class="uk-text-lead uk-text-bold uk-padding">①選擇您的主題</div>
                                </a>
                            </div>
                        </li>
                        
                        <li class="uk-width-1-3  uk-animation-toggle">
                            <div class="uk-animation-shake uk-animation-reverse">
                                <a href="#" style="text-decoration:none;">
                                    <img src="../../assets/images/video-camera.png" alt="">
                                    <div class="uk-text-lead uk-text-bold uk-padding">②建立課程</div>
                                </a>
                            </div>
                        </li>
                        
                        <li class="uk-width-1-3  uk-animation-toggle">
                            <div class="uk-animation-shake uk-animation-reverse">
                                <a href="#" style="text-decoration:none;">
                                    <img src="../../assets/images/question.png" alt="">
                                    <div class="uk-text-lead uk-text-bold uk-padding">③與學生建立連結</div>
                                </a>
                            </div>
                        </li>

                    </ul>
                    <ul class="uk-switcher uk-margin">
                        <li class="select-theme uk-width-1-1 uk-margin-medium-left uk-padding uk-flex">
                            <div class="uk-width-2-5 uk-text-left">
                                <div class="uk-text-lead uk-text-bold">選擇您的主題</div>
                                <p>分享您的知識</p>
                                <p>教授您了解的內容，只要您的熱愛或喜好都能當做參考書來做教學，教學不分你我，也不分任何貴與賤。</p>
                                <p>用您最真實的方式來教學。</p>
                                <p>我們有很多您可以用來建立課程的格式，您可以根據主題和個性選擇適合的教學風格，也可以類似vlog系列的影片教學，提升真實的視野感受。</p>
                            </div>

                            <div class="uk-cover-container uk-width-3-5 ">
                                <img src="../../assets/images/select-theme.JPG" alt="" uk-cover>
                            </div>
                        </li>
                        <!-- select-theme -->
                        <li class="build-course uk-width-1-1 uk-margin-medium-left uk-padding uk-flex">
                            <div class="uk-width-2-5 uk-text-left">
                                <div class="uk-text-lead uk-text-bold">建立課程</div>
                                <p>立馬著手</p>
                                <p>我們的課程充滿了深入見解、範例和機會， 讓學生們從行動中學習，並達成他們的目標。</p>
                                <p>全程給你不同感受</p>
                                <p>透過教學中心這個屬於講師的資源中心，讓你快速了解到課程的核心，也能更加知道自己該從何種方向下手，並在課後藉由實作來提升學習的效果。</p>
                            </div>

                            <div class="uk-cover-container uk-width-3-5 ">
                                <img src="../../assets/images/build-course.JPG" alt="" uk-cover>
                            </div>
                        </li>
                        <!-- build-course -->
                        <li class="connect-student uk-width-1-1 uk-margin-medium-left uk-padding uk-flex">
                            <div class="uk-width-2-5 uk-text-left">
                                <div class="uk-text-lead uk-text-bold">與學生建立連結</div>
                                <p>開始分享您的課程</p>
                                <p>當您的課程在市場上線後，您就可以開始和朋友、 家人與您的關注者分享。使用我們的行銷指南，協助您的課程獲得成功。 我們知道您想要與全世界分享您的課程，所以要確定學生能夠找到課程。</p>
                                <p>向世界推廣</p>
                                <p>學生也可以透過我們的自然搜尋和行銷活動找到您的課程。</p>
                            </div>

                            <div class="uk-cover-container uk-width-3-5 ">
                                <img src="../../assets/images/connect-student.JPG" alt="" uk-cover>
                            </div>
                        </li>
                        <!-- connect-student -->
                        
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Mode of operation -->

    <!-- tentacles -->
    <div class="tentacles uk-background-muted">
        <div class="uk-container uk-container-expan uk-heigth-large uk-width-1-1@s uk-width-2-3@m uk-flex uk-flex-center uk-padding">
            <div class="uk-width-1-1 uk-text-center">
                <h1 class="hrStyle uk-text-bold">擴展您的觸角</h1>
                <div>
                    <div class="uk-padding uk-padding-remove-top">
                        <h3>我們將講師與世界各地的學生互相連結，改變了許多人的生活。</h3>
                    </div>
                    <div class="uk-text-left" uk-grid>
                        <div class="uk-width-1-1@s uk-width-1-3@m">
                            <div class="top-header uk-width-1-1" style="background-color:#f4c150;"></div>
                            <div class="uk-width-1-1 uk-height-medium uk-padding uk-background-default ">E-Learning 讓我更能獨挑大樑，對於網頁所有細節都由我掌握，想知道更多網頁設計技巧或者期末專案、報告不知道該從何下手的，都歡迎來找我。</div>
                            <div class="uk-width-1-1 uk-height-small uk-background-default uk-flex">
                                <div class="uk-padding uk-padding-remove-right">
                                    <img class="teacher" src="../../assets/images/master.jpg" alt="">
                                </div>
                                <div class="uk-padding-small">
                                    <h4 class="uk-margin-remove-bottom">David</h4>
                                    <div>網頁期末專案工程師</div>
                                    <div>87 個學生</div>
                                    <div>187 個國家</div>
                                </div>
                            </div>
                        </div>
                        <div class="uk-width-1-1@s uk-width-1-3@m">
                            <div class="top-header uk-width-1-1" style="background-color:#853c6c;"></div>
                            <div class="uk-width-1-1 uk-height-medium uk-padding uk-background-default">從我手中設計的WireFrame從沒令人失望，WireFrame可以說是網頁的靈魂，想知道怎麼讓網頁有生命，就來找我吧！！</div>
                            <div class="uk-width-1-1 uk-height-small uk-background-default uk-flex">
                                <div class="uk-padding uk-padding-remove-right">
                                    <img class="teacher" src="../../assets/images/origin.png" alt="">
                                </div>
                                <div class="uk-padding-small">
                                    <h4 class="uk-margin-remove-bottom">Eric</h4>
                                    <div>WireFrame設計師</div>
                                    <div>87 個學生</div>
                                    <div>187 個國家</div>
                                </div>
                            </div>
                        </div>
                        <div class="uk-width-1-1@s uk-width-1-3@m">
                            <div class="top-header uk-width-1-1" style="background-color:#007791;"></div>
                            <div class="uk-width-1-1 uk-height-medium uk-padding uk-background-default">報告需要流利的口條，但幕後功臣卻是需要有美麗及易懂的PPT，這才能使人更加專注於你的報告，對於報告有任何疑問者，都歡迎來找我挑戰！！</div>
                            <div class="uk-width-1-1 uk-height-small uk-background-default uk-flex">
                                <div class="uk-padding uk-padding-remove-right">
                                    <img class="teacher" src="../../assets/images/Ming.png" alt="">
                                </div>

                                <div class="uk-padding-small">
                                    <h4 class="uk-margin-remove-bottom">Jason</h4>
                                    <div>PPT設計師</div>
                                    <div>87 個學生</div>
                                    <div>187 個國家</div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- tentacles -->

    <!-- help -->
    <div class="help">
        <div class="uk-card uk-card-default uk-width-1-1@m">
            <div class="uk-background-image uk-background-cover uk-background-muted uk-height-large " style="background-image: url(../../assets/images/team_question.jpg);">
                <div class="uk-container uk-container-expan uk-width-1-1@s uk-width-2-3@m uk-flex uk-flex-center uk-padding">
                    <div class="uk-width-1-1 uk-text-center">
                        <h1 class="hrStyle uk-text-bold color-white">提供問答服務</h1>
                        <div>
                            <div>
                                <h3 class="color-white uk-container uk-container-small uk-padding">我們的講師支援團隊 24 小時全天候皆在此協助您建立課程， 以滿足您的需求。我們的教學中心是一個資源中心，能在流程中為您提供協助。 </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- help -->
    <div>
        <div class="uk-container uk-container-expan uk-heigth-large uk-width-1-1@s uk-width-2-3@m uk-flex uk-flex-center uk-padding">
            <div class="uk-width-1-1 uk-text-center">
                <h1 class="uk-padding uk-margin-remove-bottom uk-text-bold">立即加入教師</h1>
                <div class="uk-text-large uk-margin-medium-bottom">加入全球最大的線上學習市場。</div>
                <button class="uk-button uk-button-large uk-button-danger" (click)="register()">成為講師</button>
            </div>
        </div>
    </div>
</div>
<!-- content -->
<access #accessComponent></access>
