<div class="customer-footer">
    <h1 class="uk-text-center contact-us"><i class="material-icons white-text">hearing</i> 聯絡我們</h1>
    <div class="uk-container align-center">
        <div uk-grid>
            <div class="uk-width-1-2">
                <h3 class="footer-column-text">
                    我們的聯絡方式
                </h3>
                <h4 class="footer-column-subtext"><i class="material-icons">perm_phone_msg</i> 0989-129-325</h4>
                <h4 class="footer-column-subtext"><i class="material-icons">place</i> 台北市大安區杭州南路二段</h4>
                <h4 class="footer-column-subtext"><i class="material-icons">email</i> t103590031@ntut.edu.tw</h4>
            </div>
            <div class="uk-width-1-2"></div>
        </div>
    </div>
</div>