<div class="page-footer">
    <div class="uk-container">
        <h1 class="slogan-font">每天只要進步一點點，一年後見證自己的進步！</h1>
        <div class="uk-grid-divider uk-child-width-expand@s" uk-grid>
            <div>
                <h1 class="title-font">聯絡我們</h1>
                <h1 class="article-font">106台北市大安區忠孝東路三段1號<br>
                02 2771 2171
                </h1>
            </div>
            <div>
                <h1 class="title-font">社群</h1>
                <a href="" class="uk-icon-button uk-margin-small-right" uk-icon="twitter"></a>
                <a href="" class="uk-icon-button uk-margin-small-right" uk-icon="facebook"></a>
                <a href="" class="uk-icon-button uk-margin-small-right" uk-icon="google-plus"></a>
                <a href="" class="uk-icon-button uk-margin-small-right" uk-icon="youtube"></a>
                <a href="" class="uk-icon-button uk-margin-small-right" uk-icon="github-alt"></a>
                <a href="" class="uk-icon-button uk-margin-small-right" uk-icon="instagram"></a>
            </div>
            <div>
                <h1 class="title-font">其他</h1>
                <h1 class="article-font">免責聲明<br>
                    FAQ
                </h1>
            </div>
        </div>
    </div> 
</div>